<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>{% block title %} {% endblock %} - FlaskApp</title>-->
<!--    <style>-->
<!--        .message {-->
<!--            padding: 10px;-->
<!--            margin: 5px;-->
<!--            background-color: #f3f3f3-->
<!--        }-->
<!--        nav a {-->
<!--            color: #d64161;-->
<!--            font-size: 3em;-->
<!--            margin-left: 50px;-->
<!--            text-decoration: none;-->
<!--        }-->

<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--<div>-->
{% extends 'base.html' %}

{% block content %}
    <!--<h1>{% block title %} Messages {% endblock %}</h1>-->
    {% for message in messages %}
        <div class='message'>
            <h3>{{ message['title'] }}</h3>
            <p>{{ message['content'] }}</p>
        </div>
    {% endfor %}
{% endblock %}

<!--</div>-->

<!--</body>-->
